*META.*
*~
MANIFEST.*
MYMETA.json
MYMETA.yml
Makefile
Makefile.old
Mojolicious-Plugin-OAuth2-Server*.gz
blib
cover_db
pm_to_blib
examples/data/

# editing
*.vim
vim.session*
.vscode
.vstags
.idea
\#*\#
*~
*.swp

# OS X nonsense
*.DS_Store
